# dependencies & builds
node_modules/
dist/
build/
.out/
.next/
.nuxt/
coverage/
tmp/
*.log

# env & secrets
.env
.env.*
*.pem
*.key
*.p12
service-account*.json

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
